.top-rated-container {
  background-color: #000000;
  min-height: 100vh;
  margin-top: 0px;
  padding: 10px;
}

.top-rated-movie-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
